<div class="animated fadeIn fast">
  <h1>
    {{ hero.nombre | uppercase }}
    <small>{{ hero.aparicion | date: "y" }}</small>
  </h1>
  <hr />
  <div class="row justify-content-around">
    <div class="col-md-4">
      <img
        [src]="hero.img"
        [alt]="hero.nombre"
        class="img-fluid rounded shadow"
      />
      <br /><br />
      <a (click)="back()" class="btn btn-outline-primary"> Regresar</a>
    </div>
    <div class="col-md-7">
      <h3>{{ hero.nombre }}</h3>
      <hr />
      <p>
        {{ hero.bio }}
      </p>
      <div>
        <img
          *ngIf="hero.casa == 'DC'"
          src="../../../assets/img/dc.png"
          alt=""
        />
        <img
          *ngIf="hero.casa == 'Marvel'"
          src="../../../assets/img/marvel.png"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
